template(name="footer")
  // Footer
  footer
    div.container
      div.row
        div.col-xs-12.col-sm-3.col-md-3
          p Meter Boilerplate &copy; 2014

        each links
          div.col-xs-4.col-sm-3.col-md-3
            ul 
              li: a(href="#{url}") #{name}
        
