header
  padding 20px 0

  @media (max-width: 767px)
    padding-top 0

  .container 
    .row
      .title
        padding 0 10px 10px 15px

        h3
          color #ccc

    .underline
      height 2px
      margin auto -10px
      background-color #3c8
      box-shadow 0 0 30px 5px rgba(61, 131, 22, .7)